<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Simple Form</h2>
      <form action="/comment/<%= comment._id %>" method="post">
        <label for="description">Description:</label>
        <textarea id="description" name="content" rows="4" required>
<%= comment.content %></textarea
        >

        <input type="submit" value="Update" />
      </form>
    </div>
  </body>
</html>
